# Peso  y Estatura de personas

### Este dataset es ideal para practicar regresión lineal simple, ya que permite analizar cómo la altura de una persona puede influir en su peso.

Descripción: Este dataset contiene información sobre la altura y el peso de individuos.

* Tamaño: Más de 10,000 registros.

Variables:

* Variable independiente (x): ``Height` (Altura)

* Variable dependiente (y): `Weight` (Peso)

### Intalacion de dependencias

In [5]:
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression

### Crear el DataFrame

In [6]:
train = pd.read_csv('weight-height.csv')
train.head(25)

   Gender     Height      Weight
0    Male  73.847017  241.893563
1    Male  68.781904  162.310473
2    Male  74.110105  212.740856
3    Male  71.730978  220.042470
4    Male  69.881796  206.349801
5    Male  67.253016  152.212156
6    Male  68.785081  183.927889
7    Male  68.348516  167.971110
8    Male  67.018950  175.929440
9    Male  63.456494  156.399676
10   Male  71.195382  186.604926
11   Male  71.640805  213.741169
12   Male  64.766329  167.127461
13   Male  69.283070  189.446181
14   Male  69.243732  186.434168
15   Male  67.645620  172.186930
16   Male  72.418317  196.028506
17   Male  63.974326  172.883470
18   Male  69.640060  185.983958
19   Male  67.936005  182.426648
20   Male  67.915050  174.115929
21   Male  69.439440  197.731422
22   Male  66.149132  149.173566
23   Male  75.205974  228.761781
24   Male  67.893196  162.006652

### Obtengo la informacion general del DataFrame

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

### Visualizar las Dimensiones del DataFrame

In [9]:
train.shape

(10000, 3)

### Visualizar y verificar si existen valores Nulos

In [10]:
train.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

### Verificar si existen datos duplicados

In [11]:
train.duplicated().sum()

np.int64(0)